<!-- {% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<style>

</style>
    <div class="login-section">
        <div class="login-group">
            <form class="login-form">
                <h2>Login</h2>
                <div class="form-element">
                    <div class="input-element">
                        <label for="Email" class="label">Email address</label>
                        <input type="email" class="stylized-input" placeholder="Enter your E-mail" id="Email">
                    </div>
                </div>
                <div class="form-element">
                    <div class="input-element">
                        <label for="Password" class="label">Password</label>
                        <input type="password" class="stylized-input" placeholder="Enter your password" id="Password">
                    </div>
                </div>
                <p>forgot your password ?</p>
                <button type="submit" class="form-btn">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %} -->
