@import "./bootstrap-bitchest.scss";
@import "./form";
@import "./navbar";
@import "./footer";

@font-face {
  font-family: "Celias";
  src: url("../fonts/Celias.otf");
}

@media (max-width: 991px) {
  .presentation-section {
    padding: 50px;
    height: 50vh !important;
  }

  .section {
    flex-direction: column;
  }

  .column img {
    transform: scaleY(-1) rotate(-25deg);
  }

  .nav-login {
    justify-content: center;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #38618c;
  font-family: "Celias";
}

.presentation-section {
  height: calc(100vh - 15vh);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.principal-button {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 50px;
  border: none;

  background: #ff5964;
  color: white;
}

h1 {
  font-size: clamp(30px, 6vh, 80px);
  font-weight: bolder;
}

h2 {
  width: 100%;
  padding-bottom: 20px;
  text-align: left;
  font-size: 28px;
  font-weight: bolder;
  color: #35a7ff;
}

h3 {
  width: 100%;
  text-align: left;
  font-size: 22px;
  font-weight: bolder;
}

.highlight {
  color: #35a7ff;
}

.section {
  padding: 70px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.paragraph {
  padding: 20px;
}

.example-element {
  width: 400px;
  height: 400px;
  background: coral;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.moving-arrows {
  position: absolute;
  width: 40px;
  animation: 2s infinite slideout ease-in-out;
}

@keyframes slideout {
  0% {
    margin-top: 170px;
  }

  50% {
    margin-top: 300px;
  }

  100% {
    margin-top: 170px;
  }
}

.submenu{
  min-width: 200px;
  background: #35A7FF;
}

.submenu-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #35A7FF; 
}

.submenu-item:hover{
  background: #38618C;
}

.submenu-link{
  text-decoration: none;
  color: white;
}

.menu-icon{
  margin: 10px;
  width: 20px;
  height: 20px;
}

.right-column{
  display: flex;
  justify-content: center;
  padding: 40px;
}

.bento-box{
  display: flex;
  align-items: center;
  border-radius: 10px; 
  color: white;
  height: 100px;
  padding: 20px; 
  background-color: #38618C;
}

.vertical-divider{
  border-radius: 5px;
  border-left: 1px solid white;
  height: 100%;
  margin: 0 20px;
}

.tradingview-widget-container {
  min-height: 550px; /* Ajustez cette valeur selon vos besoins */
  width: 100%;
  position: relative;
}
.tradingview-widget-container > div {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.primary-border{
  border: 2px solid #35a7ff;
}

.primary-background{
  background: #35a7ff;
  color: white;
}

.button-primary{
  background: #35a7ff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}