{% extends 'base.html.twig' %}

{% block body %}

  <h1>Bonjour</h1>

{% for user in users %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ user.userName }}</h5>
        <p class="card-text">{{ user.email }}</p>
      </div>
    </div>
  {% endfor %}

{% endblock %}