<div class="footer-container">
  <div class="section-group"></div>
  <div class="section-group" style="font-weight: 800px;">Bitchest© 2024</div>
  <div class="section-group">
    <a class="nav-link" href="{{asset('contact')}}">Contact</a>
  </div>
</div>