<nav class="bitchest-navbar navbar navbar-expand-md" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="{{asset('img/bitchest_logo.png')}}" alt="Logo Bitchest"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon truc"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{asset('contact')}}">Contact</a>
        </li>
      </ul>
        {% if app.user %}
          <a href="#" class="btn btn-outline-light rounded-pill px-4">Profile</a>
        {% else %}
          <a class="btn btn-primary rounded-pill px-4" href="{{asset('login')}}">Start&nbsp;Now</a>
        {% endif %}
    </div>
  </div>
</nav>